<h4>
  <% page_title ||= "Trip" %>
  <%= page_title %>
</h4>

<%= render partial: "layouts/errors_messages", locals: {model: @trip } %>

<%= form_for @trip do |f| %>

<%= f.label :rating %>
<%= f.text_field :rating %>

<%= f.label :driver, "Driver" %>
<%= f.select :driver_id, Driver.all.map {|dri| [dri.name, dri.id]} %>

<%= f.submit %>

<% end %>
