<h4>
  <% page_title ||= "Trip" %>
  <%= page_title %>
</h4>

<%= render partial: "layouts/errors_messages", locals: {model: @trip } %>

<%= @trip.date %>
<%= @trip.cost %>
<%= @trip.driver_id %>
<%= @trip.passenger_id %>
<%= @trip.raiting %>
