<h4>
  <% page_title ||= "Trip" %>
  <%= page_title %>
</h4>


<% @trips.each do |trip| %>
<ul>

  <li>
    Trip id: #<%= trip.id %>
  </li>
  <li>
    Date: <%= trip.date %>
  </li>
  <li>
    Cost: <%= trip.cost %>
  </li>
  <li>
    Driver: <%= trip.driver.name %>
  </li>
  <li>
    Passenger: <%= trip.passenger.name %>
  </li>

  <% if trip.rating %>
  <li>
    Rating: <%= trip.rating %>
  </li>
  <% else %>
  <li>
    Rating: <%= form_for trip do |f| %>
  </li>
  <li>
    <%= f.number_field :rating, option = {within: 1..5} %>
  </li>
  <% end %>
  <% end %>
</ul>
<% end %>
