<h4>
  <% page_title ||= "Trip" %>
  <%= page_title %>
</h4>

<ul>
  <li>
    Date: <%= @trip.date %>
  </li>
  <li>
    Cost: <%= @trip.cost %>
  </li>
  <li>
    Driver: <%= @trip.driver_id %>
  </li>
  <li>
    Passenger: <%= @trip.passenger_id %>
  </li>
  <li>
    Rating: <%= @trip.rating %>
  </li>
</ul>
