<h4>
  <% page_title ||= "Trip" %>
  <%= page_title %>
</h4>

<%= render partial: "layouts/errors_messages", locals: {model: @trip } %>

<strong>
  <ul class="trip_list">
    <li>
      Trip ID
    </li>
    <li>
      Date
    </li>
    <li>
      Driver
    </li>
    <li>
      Passenger
    </li>
    <li>
      Cost
    </li>
    <li>
      Rating
    </li>
</ul>
</strong>

<ul class="trip_list">
  <li>
    <%= @trip.id %>
  </li>
  <li>
    <%= @trip.date %>
  </li>
  <li>
    <%= @trip.cost %>
  </li>
  <li>
    <%= @trip.driver.name %>
  </li>
  <li>
    <%= @trip.passenger.name %>
  </li>
  <li>
    <%= @trip.rating %>
  </li>
</ul>
