<h4>
  <% page_title ||= "Passenger" %>
  <%= page_title %>
</h4>

<%= render partial: "layouts/errors_messages", locals: {model: @passenger } %>

<%= form_for @passenger do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :phone_num %>
<%= f.text_field :phone_num %>

<%= f.submit %>

<% end %>
