<h2>Details for Passenger<% @passenger.name %></h2>
<%= link_to("Request a Trip", passenger_trips_path(@passenger), method: :post) %>


<p>Name: <%= @passenger.name %></p>
<p>Vin: <%= @passenger.phone_num %></p>

<ul>
  <% @passenger.trips.each do |tr| %>
  <li>
    # <%= link_to "#{tr.id}", passenger_trip_path(@passenger) %>
    <%= tr.date %>
    <%= link_to "#{tr.driver.name}", driver_path(tr.driver) %>
    <%= link_to "#{tr.passenger.name}", passenger_path(@passenger) %>
    <%= tr.cost %>
    <%= tr.rating %>
  </li>
  <% end %>
</ul>

<%= link_to("Edit", edit_passenger_path(@passenger)) %>
