<h4>
  <% page_title ||= "Driver" %>
  <%= page_title %>
</h4>

<%= render partial: "layouts/errors_messages", locals: {model: @driver } %>

<div class="new_page">
<%= form_for @driver do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :vin %>
<%= f.text_field :vin %>

<%= f.submit %>
<% end %>
</div>
