<h1 class="details">Details for Driver: <%= @driver.name %></h1>

<ul class="show_info">
  <li><strong>Name:</strong> <%= @driver.name %></li>
  <li><strong>Vin:</strong> <%= @driver.vin %></li>
  <li><strong>Total Earning:</strong> $<%= @driver.get_total_earning %></li>
  <li><strong>Average Rating:</strong> <%= @driver.get_average_rating %> ⭐</li>
</ul>

<div class="edit_detail">
  <%= link_to("Edit", edit_driver_path(@driver)) %>
</div>

<strong>
  <ul class="trip_list">
    <li>
      Trip ID
    </li>
    <li>
      Date
    </li>
    <li class="names">
      Driver
    </li>
    <li class="names">
      Passenger
    </li>
    <li>
      Cost
    </li>
    <li>
      Rating
    </li>
    <li>
      Review
    </li>
    <li>
      Delete
    </li>
  </ul>
</strong>


<% @driver.trips.each do |tr| %>
<ul class="trip_list">
  <li>
    <%= link_to "# #{tr.id}", passenger_trip_path(tr.passenger.id, tr.id) %>
  </li>
  <li>
    <%= tr.date %>
  </li>
  <li class="names">
    <%= link_to "#{tr.driver.name}", driver_path(@driver) %>
  </li>
  <li class="names">
    <%= link_to "#{tr.passenger.name}", passenger_path(tr.passenger) %>
  </li>
  <li>
    $<%= tr.cost / 100 %>
  </li>
  <li>
    <%= tr.rating %>
  </li>
  <li>
    <%= link_to("Add A Review", edit_passenger_trip_path(tr.passenger.id, tr.id)) %>
  </li>
  <li>
    <%= link_to("Delete", passenger_trip_path(tr.passenger.id, tr.id), method: :delete, data: {confirm: "Are you sure you want to delete Trip #{tr.id}"}) %>
  </li>
</ul>
<% end %>
