<!DOCTYPE html>
<html>
<head>
  <title>RideshareRails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= image_tag "logo.png", alt: "Site logo", class: "logo" %>
  </header>
  <nav>
    <ul class="nav_bar">
      <li><%= link_to "Home", new_trip_path %></li>
      <li><%= link_to "Manage Drivers", drivers_path %></li>
      <li><%= link_to "Add Driver", new_driver_path %></li>
      <li><%= link_to "Manage Passengers", passengers_path %></li>
      <li><%= link_to "Add Passenger", new_passenger_path %></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
  <footer>&copy; 2018 AdUberA, Inc</footer>
</body>
</html>
